.textConteiner {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: red 2px solid;
  column-gap: 8px;
}

.link {
  text-decoration: none;
  color: #4C4CFF;
  outline: red 2px solid;
}

.link:hover {
  transition: 1s;
  opacity: .8
}


