.constructorConteiner {
  margin-top: 100px; /*должен быть 100px */
  width: 600px;
  height: 912px;
  height: 820px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;  */
}

.elementsConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.listInternalConteiner {
  margin: 0;
  padding: 16px 15px 0 0;

  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 464px;
  /* outline: 1px solid red; */
}

.item {
  margin-bottom: 16px;
  padding-right: 30px;
  width: 568px;
  display: flex;
  align-items: center;
  /* outline: 1px solid green */
}

.priceConteiner {
  margin: 40px auto 52px auto;
  width: 568px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

}

/* .textSum {
  outline: 2px red solid;
  text-align: right;
  font-family: Iceland;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
} */

.cont {
  margin-right: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hiddenConteiner {
  margin-top: 50px;
  border: 2px solid;
  width: 600px;
  height: 500px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
