.conteiner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  width: 720px;
  background: #1c1c21;
  border-radius: 40px;
  border: 1px solid rgba(76, 76, 255, 0.2);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 650px;
  top: 50px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: rotate(90deg);
  transition-timing-function: linear;
  transition: 0.3s;
}
