.container {
  max-width: 844px;
  /* width: 100%; */
  width: 700px ;/*временно */
  height: 600px; /*временно */
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  gap: 16px;
  outline: gold 4px solid;
}

.test {

  width: 100%;
  height: 250px;
  background-color: white;
}
