.mainConteiner {
  margin: 180px 0 0 0;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.formConteiner {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

}







